.numeros-grid {
  display: grid;
  grid-column: 2/4;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 700px) {
  .numeros-grid {
    grid-column: 1;
  }
}

.numeros-grid h3 {
  font-size: 2rem;
  font-family: "Playfair Display SC", serif;
  margin-bottom: 0.5rem;
}

.numeros-grid span {
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 1.5rem;
  color: #e54;
}
