.tooltip {
  position: absolute;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0.5em;
  box-shadow: 0 0 0 2px #fb5, 0 0 0 4px rgba(0, 0, 0, 0.6);
  font-family: "Fira Code", monospace;
  max-width: 170px;
  font-size: 0.8rem;
  border-radius: 2px;
}
